main{
  font-family: sans-serif;
}

.titulo{
  text-align: center;
  margin-top: 50px;
  color: #6655DD;
}


.input-container{
  max-width: 600px;
  margin: 0 auto;
  padding: 0 0 0 32px;
}
.input-container input{
  padding: 18px 18px;
  border-radius: 4px;
  box-shadow: 1px 1px 3px 1px #ccc;
  border: none;
  width: 100%;
  margin: 30px auto;
}
.input-container input:focus{
  scale: 1.1;
  transition: .7s;
  outline: none;
}
.input-container input:hover{
  scale: 1.1;
  outline: none;
  transition: .7s;
}

.input-container{
  display: flex;
  align-items: center;
}

.input-container{
  position: relative;
}

.input-container img{
  right: 60px;
  cursor: pointer;
  display: block;
  padding: 10px 10px;
  background-color: #fff;
  position: relative;
}

.produtos{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 50px ;
  padding: 20px 30px;
  margin-top: 40px;
}

@media(max-width:850px){
  .produtos{
    grid-template-columns: 1fr 1fr;
  }
}
@media(max-width:400px){
  .produtos{
    grid-template-columns: auto ;
  }
}

.produtos img{
  border-radius: 8px;
}

.produto-div{
  box-shadow: 1px 1px 2px 1px #ccc;
  border-radius: 8px;
  padding: 12px;
  background-color: #fff;
  cursor: pointer;
}


.div-item p:first-child{
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
  color: #EE8800;
}

.div-item{
  color: #334455;
}

.div-item h2{
  margin: 10px 0;
}